@import './variables.css';
:root {
    --gap: 1rem;
    --clr-bg: #0d0d0d;
    --clr-panel: #151515;
    --clr-fg: #e7e7e7;
    --clr-subtle: #999;

    --clr-yay: #2ae187;
    --clr-may: #ffd740;
    --clr-nay: #ff6363;

    font-family: "Inter", system-ui, sans-serif;
    color-scheme: dark;
}

html, body {
    margin: 0;
    padding: 2rem;
    background: #f7f7f7;
}

main {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
}


